{
	admin 0.0.0.0:2019
	auto_https off
}

localhost:80, 127.0.0.1:80 {
	handle /deployments* {
		reverse_proxy api:8080
	}

	handle /health {
		reverse_proxy api:8080
	}

	handle {
		reverse_proxy ui:5173
	}
}
