# Managed by Ansible

minlen = {{ password_min_length }}
dcredit = {{ password_dcredit }}
ucredit = {{ password_ucredit }}
lcredit = {{ password_lcredit }}
ocredit = {{ password_ocredit }}
retry = {{ password_retry_count }}
enforce_for_root
