networks:
  appa_net:
    name: appa_net
    driver: bridge

services:
  db:
    image: {{ postgres_image }}
    env_file: {{ appa_stack_dir }}/.env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - appa_net
    ports:
      - "5432:5432"
    restart: unless-stopped
    volumes:
      - {{ appa_stack_dir }}/data/postgres:/var/lib/postgresql

  api:
    image: {{ appa_api_image }}
    command:
      - "-port=$PORT"
      - "-env=$ENV"
      - "-db-dsn=$APPA_DB_DSN"
      - "-db-max-open-conns=$DB_MAX_OPEN_CONNS"
      - "-db-max-idle-conns=$DB_MAX_IDLE_CONNS"
      - "-db-max-idle-time=$DB_MAX_IDLE_TIME"
      - "-limiter-rps=$LIMITER_RPS"
      - "-limiter-burst=$LIMITER_BURST"
      - "-limiter-enabled=$LIMITER_ENABLED"
      - "-smtp-host=$SMTP_HOST"
      - "-smtp-port=$SMTP_PORT"
      - "-smtp-username=$SMTP_USERNAME"
      - "-smtp-password=$SMTP_PASSWORD"
      - "-smtp-sender=$SMTP_SENDER"
      - "-cors-trusted-origins=$CORS_TRUSTED_ORIGINS"
    depends_on:
      db:
        condition: service_healthy
      buildkit:
        condition: service_started
    env_file: {{ appa_stack_dir }}/.env
    environment:
      - BUILDKIT_HOST=docker-container://buildkit
      - DOCKER_HOST=unix:///var/run/docker.sock
    extra_hosts:
      - host.docker.internal:host-gateway
    networks:
      - appa_net
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ appa_stack_dir }}/data/api:/data
      - {{ appa_stack_dir }}/data/railpack-cache:/tmp/railpack
      - {{ appa_stack_dir }}/builds:/builds

  buildkit:
    image: {{ buildkit_image }}
    container_name: buildkit
    networks:
      - appa_net
    privileged: true
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  caddy:
    env_file: {{ appa_stack_dir }}/.env
    image: {{ caddy_image }}
    ports:
      - "80:80"
{% if cloudflare_token %}
      - "443:443"
{% endif %}
    volumes:
      - {{ appa_stack_dir }}/Caddyfile:/etc/caddy/Caddyfile
      - {{ appa_stack_dir }}/data/caddy:/data
    extra_hosts:
      - host.docker.internal:host-gateway
    networks:
      - appa_net
    restart: unless-stopped

  ui:
    image: {{ appa_ui_image }}
    depends_on:
      - api
    networks:
      - appa_net
    restart: unless-stopped
